<form [formGroup]="formularioJuego" (ngSubmit)="onSubmit()">
<input
[(ngModel)]="finca.Nombre"
type="text"
formControlName="Nombre"
placeholder="Nombre">


<input
[(ngModel)]="finca.Direccion"
type="text"
formControlName="Direccion"
placeholder="Direccion">

<input
[(ngModel)]="finca.Invitados"
type="number"
formControlName="Invitados"
placeholder="Invitados">

<input
[(ngModel)]="finca.Plan"
type="text"
formControlName="Plan"
placeholder="Plan">

<button>Enviar</button>
</form>